@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #007aff;
  --brand-color-bg: linear-gradient(180deg, #f5f5f7, #ffffff);
  --brand-color-text-1: #1d1d1f;
  --brand-color-text-2: #6e6e73;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--brand-color-bg);
  font-family: Arial, Helvetica, sans-serif;
}
